<div class="container mt-4">
 
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <table class="table table-striped table-hover mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th> Email Verified</th>
        <th>Actions</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lead of leads">
        <td>{{ lead.id }}</td>
        <td>{{ lead.name }}</td>
        <td>{{ lead.email }}</td>
        <td>{{ lead.phoneNumber }}</td>
        <td>{{ lead.emailVerified ? 'Yes' : 'No' }}</td>
        <td><button (click)="viewBookings(lead)" class="btn btn-sm btn-info">View Bookings</button></td>
       
      </tr>
    </tbody>
  </table>
 
  <div *ngIf="isbookingView" class="container mt-4"> 
    <table class="table table-striped table-hover mt-3">
      <thead>
        <tr>
          <th>Service</th>
          <th>Booking Date</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of selectedLeadBookings">
          <td>{{ booking.service.name }}</td>
          <td>{{ booking.bookingDate | date: 'mediumDate' }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="closeBookings()" class="btn btn-sm btn-secondary mt-3">Close</button>
  </div>
</div>