<div class="container mt-5">
  <h1 class="text-center mb-4" 
      style="color: darkred; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: aquamarine;">
      Cleaning Services
    
  </h1>

  <div *ngIf="services.length > 0; else noServices">
    <div class="row row-cols-1 row-cols-md-2  g-4">
      
      <div class="col" *ngFor="let service of services">
        <div class="card h-100 shadow-sm border-0">
          
          <div class="card-body d-flex flex-column">
            <h5 class="card-title fw-bold text-dark">
              {{ service.name }} ({{ service.type }})
            </h5>
            <p class="card-text text-muted mb-3">
              {{ service.mainDescription }}
            </p>
            
            <div *ngIf="service.bulletPoints.length > 0" class="mb-3">
              <h6 class="card-subtitle mb-2 text-dark">Service Includes:</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let point of service.bulletPoints">
                  {{ point }}
                </li>
              </ul>
            </div>
            
            <div class="mt-auto" *ngIf="isVerified">
              <h4 class="text-primary mt-3">
                ₹{{ service.price | number:'1.2-2' }}
              </h4>
              <p class="text-secondary mb-0" *ngIf="isVerified">
                Advance: ₹{{ service.advanceAmount | number:'1.2-2' }}
              </p>
              <hr>
            </div>
            <div class="d-grid gap-2">
              <ng-container *ngIf="isVerified; else requestButton">
                <button class="btn btn-success" (click)="addToCart(service)">
                  Add to Cart (+)
                </button>
                  <button class="btn btn-success" (click)="removeFromCart(service)">
                  Remove From Cart (-)
                </button>
              </ng-container>
            </div>

            <ng-template #requestButton>
              <div class="d-grid gap-2">
                <button class="btn btn-primary" routerLink="/register">
                  
                  Regiter Or Login to View Our Pricing Details
                </button>
              </div>
            </ng-template>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noServices>
    <div class="alert alert-info text-center mt-5 shadow-sm">
      No services available at the moment.
    </div>
  </ng-template>
</div>

<router-outlet></router-outlet>   